<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Welcome to our System</h2>
        <h3>Please Click on your respective name</h3>

        <b><p>Name of Person</p></b>
        <ul>

        {% for person in person_list %}

            <li> <a href= "{% url 'polls:show_specific_person' person.id %}">{{ person.person_name }} </a> </li>
            
        {% endfor %}

        </ul>
    </div>
</body>
</html>